/* Effect Home Page Not Token */
@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

.animate-slide-in {
  animation: slide-in 2s ease-out;
}

.animate-fade-in {
  animation: fade-in 2s ease-in;
}

.animate-bounce {
  animation: bounce 1s infinite;
}

/* Effect Home Page By Token */

@keyframes fadeInDownSlow {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUpSlow {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulseSlow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.animate-fade-in-down-slow {
  animation: fadeInDownSlow 1.5s ease-in-out;
}

.animate-fade-in-up-slow {
  animation: fadeInUpSlow 1.5s ease-in-out;
}

.animate-pulse-slow {
  animation: pulseSlow 3s infinite ease-in-out;
}